html {
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

/* * {
  outline: 1px solid red;
  outline-offset: -1px;
} */


div.img-container {
  position: relative;
  height: 600px;
}

.bottom-align {
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
}

.portrait-with-vignette {
    width: 400px; height: 400px;
    box-shadow: inset 0em -2em 1em 1em #FFF;
    background-image: url('kevin_portrait.JPG');
}

article {
    padding: 10px;
    margin: 10px;
    width: 400px;
    /* border: solid red; */
}

section {
    display: flex;
    /* display: -webkit-inline-box; */
    display: -webkit-flex;
    width: 1000px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    background-color: white;
    /* border: solid red; */
}

@media screen and (max-width: 1300px) {
    section {
        width: 100%;
    }
}

.center {
  margin: auto;
}

.bounding-box {
    /* border: 1px solid black; */
    display: block
    overflow: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

.no-wrap {
    white-space: nowrap;
}

article.title-box {
    padding-top: 13rem;
    display: block
    overflow: auto;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */

}

article.subtitle-box {
    height: 8em;
    position: relative;
}

article.subtitle-box h2 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

article.text-box {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    display: block;
    font-size: 4.5rem;
    font-weight: normal;
    letter-spacing: 11px;
    /* line-height: 0.9em; */
}

h2 {
    display: block;
    font-size: 25px;
    font-weight: lighter;
}

h3 {
    display: block;
    font-size: 18px;
    font-weight: lighter;
    /* letter-spacing: 3px; */
    line-height: 1.5em;
}



#character_justify {
    position: relative;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

#character_justify * {
    margin: 0;
    padding: 0;
    border: none;
}

a {
  color: #A3A3CC;
}
